//productos página principal
.productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem 1.5rem;
    gap: 30px;
}

//filtros
.filters-fix{
    border: 1px solid $greyColor;
    border-radius: 5px;
    background-color: rgb(186, 186, 186);
    padding: .5rem;
    select{
        background-color: $btn2Color;
        color: $whiteColor;
        &:focus{
            box-shadow: none;
        }
    }
    ul{
        li{
            a{
                color: $darkColor;
                &:hover{
                    color: $whiteColor;
                }
            }
        }
    }
}


//productos pcs armadas-notebooks-teléfonos
.card{
    width: 90%;
    border: 1px $greyColor solid;
    img{
        width: 90%;
        margin: .8rem .8rem;
    }
    a{
        width: 50%!important;
        @extend .btn-submit;
    }
    p{
        @include textos(1.1rem,$darkColor,center)
    }
    .bg-card{
        background-color: rgb(186, 186, 186);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .img-fix{
        width: 70%;
        margin-left: 3rem;
    }
}


//grid de tienda
.tienda{
    display: grid;
    grid-template-columns: 20% repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "filters uno dos tres"
    "filters cuatro cinco seis"
    "filters siete ocho nueve";
    gap: 20px;
    background-color:$keyColor;
    padding: 1rem;
    margin-bottom: 1.5rem;
    .filters{
        grid-area: filters;
    }
    .prod1{
        grid-area: uno;
    }
    .prod2{
        grid-area: dos;
    }
    .prod3{
        grid-area: tres;
    }
    .prod4{
        grid-area: cuatro;
    }
    .prod5{
        grid-area: cinco;
    }
    .prod6{
        grid-area: seis;
    }
    .prod7{
        grid-area: siete;
    }
    .prod8{
        grid-area: ocho;
    }
    .prod9{
        grid-area: nueve;
    }
}