//pag quienes somos y ayuda
.vision-mision{
    width: 40%;
}


.arreglo{
    border: solid $greyColor 1px;
    border-radius: 10px;
    background-color:$bg2Color;
}


.quienes-somos{
    h1{
        font-weight:$fontSemibold;
        margin: 2rem 1rem;
        font-size: 3.5rem;
        color:$textColor;
    }
}


//formulario
.bg-form{
    background-color:rgb(250, 229, 201);
}


.btn-submit{
    background-color:$textColor;
    color: $whiteColor;
    width: 15%;
    &:hover{
        background-color:#024772;
        color: $whiteColor;
    }
}


.btn-flex{
    display: flex;
    justify-content: center;
}


.form-select{
    &:focus{
        box-shadow: none;
    }
}