// variables globales

//colors
$mainColor:#0b4c46;
$secondaryColor:#038C7F;
$keyColor:antiquewhite;
$bgColor:rgb(24, 24, 24);
$bg2Color:rgb(250, 229, 201);
$whiteColor:white;
$darkColor:black;
$greyColor:grey;
$textColor:#023859;


//fonts
$mainFont:'Roboto', sans-serif;


//font weight
$fontLight:100;
$fontSemilight:200;
$fontNormal:300;
$fontMedium:400;
$fontSemibold:500;
$fontBold:600;