// variables globales

//colors
$keyColor:antiquewhite;
$bgColor:rgb(24, 24, 24);
$bg2Color:rgb(250, 229, 201);
$bg3Color:rgb(248, 217, 176);
$whiteColor:white;
$darkColor:black;
$greyColor:grey;
$textColor:#023859;
$btnColor:rgb(49, 49, 49);
$btn2Color:#024772;


//fonts
$mainFont:'Roboto', sans-serif;


//font weight
$fontLight:100;
$fontSemilight:200;
$fontNormal:300;
$fontMedium:400;
$fontSemibold:500;
$fontBold:600;